<!DOCTYPE html>
<html>
	<head>
		<title>Lexoo Email App</title>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	    <link rel="stylesheet" href="public/css/style.css">
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	</head>
	<body>
		<div class="homepage-nav-container row">
			<h1 class="homepage-h1 col s4"> Lexoo Email App</h1>
			<ul class="homepage-nav-ul col s8">
				<li>New</li>
				<li>View All</li>
			</ul>
		</div>

		<div class="row">
			<form class="col s12">
				<div class="input-field col s12">
				  	<input placeholder="First Name" id="firstname" type="text" class="validate">
				</div>
				<div class="input-field col s12">
				  	<input placeholder="Last Name" id="lastname" type="text" class="validate">
				</div>
				<div class="input-field col s12">
				  	<input placeholder="Tag 1" id="tag1" type="text" class="validate">
				</div>
				<div class="input-field col s12">
				  	<input placeholder="Tag 2" id="tag2" type="text" class="validate">
				</div>
				<div class="input-field col s12">
				  	<input placeholder="Tag 3" id="tag3" type="text" class="validate">
				</div>
			    <div class="input-field col s12">
			      <input id="email" type="email" placeholder="Email Address"class="validate">
			    </div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				    <i class="material-icons">send</i>
				</button>
			</form>

		</div>


	
		 <!-- Jquery -->
		<script src= "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<!-- Materialize	 -->
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

		<!-- Custom JS -->
		<script src="/public/js/custom.js"></script>
	</body>
</html>